*{
    margin:0;
    padding:0;
    overflow:hidden;
}
body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
}

button{
    background-color: beige;
    color: blue;
    border-radius: 10px;
    border: 1px bold;
    width: 100px;
    height: 30px;
}
button:hover{
    background-color: red;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 4px bold;
    width: 100px;
    height: 30px;

}